<div class = "dashboard-header">
    <div class="header-content">
        <h1>Instructor WorkSpace</h1>
        <a class="grade-button" routerLink="/grade-submission">Submit a Grade</a>
    </div>
    <div class = "kpi-row">
        <div class = "kpi-card">
            <span class = "kpi-value">{{ store.entities().length }}</span>
            <span class = "kpi-label">Total Enrollments</span>
        </div>
        <div class = "kpi-card pending">
            <span class = "kpi-value"> {{ store.pendingCount() }}</span>
            <span calss = "kpi-lable">Pending Approval</span>
        </div>
    </div>
</div>

<div class = "chart-section">
    @defer (on viewport; prefetch on idle(500)){
        <tms-analytics-chart [data]=" store.entities()" />
    }@placeholder {
        <div class = "skeleton-chart">Scroll down to view analytics ...</div>
    }@loading (minimum 500ms){
        <div class = "spinner"> Downloading Chart engine...</div>
    }@error {
        <p>Failed to load chart. Check your connection</p>
    }
</div>
